pkgbase = kairo
	pkgdesc = Automatic launcher artwork for Linux
	pkgver = 2.2.0
	pkgrel = 1
	url = https://github.com/shadowxskinner/kairo
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python>=3.10
	depends = tk
	depends = python-customtkinter
	depends = python-pillow
	depends = python-cairosvg
	optdepends = papirus-icon-theme: large library of application icons to choose from
	optdepends = whitesur-icon-theme: macOS Big Sur style application icons
	optdepends = tela-icon-theme: flat colourful application icons
	provides = steam-shortcut-forge
	conflicts = steam-shortcut-forge
	replaces = steam-shortcut-forge
	source = kairo-2.2.0.tar.gz::https://github.com/shadowxskinner/kairo/archive/refs/tags/v2.2.0.tar.gz
	sha256sums = SKIP

pkgname = kairo
