pkgbase = steam-shortcut-forge
	pkgdesc = Assign custom icons to Steam games in your Linux app launcher
	pkgver = 1.3.0
	pkgrel = 1
	url = https://github.com/shadowxskinner/steam-shortcut-forge
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python>=3.10
	depends = tk
	depends = python-customtkinter
	depends = python-pillow
	depends = python-cairosvg
	optdepends = papirus-icon-theme: large library of application icons to choose from
	optdepends = whitesur-icon-theme: macOS Big Sur style application icons
	optdepends = tela-icon-theme: flat colourful application icons
	source = steam-shortcut-forge-1.3.0.tar.gz::https://github.com/shadowxskinner/steam-shortcut-forge/archive/refs/tags/v1.3.0.tar.gz
	sha256sums = eab72f35eb9084c7e795e2c25da1dad428d8746dd356baa0f0ba2c8f4a90da64

pkgname = steam-shortcut-forge
